.add-question-button {
    margin-top: 50px;
    width: 200px
}

.submit-button {
    margin-top: 50px;
    align-content: center
}

.question-card {
    margin-top: 30px;
}

#title {
    margin-top: 50px;
    margin-bottom: 50px;
}